
body
{
    background-color: #222;
    color: white;
}

.checkList
{
	display: inline-block;
	text-align: left;
	text-align-last: left;
	min-width: 18%;
	margin-top:5px;
	margin-bottom:5px;
}

.center-just
{
	text-align: justify; 
	text-align-last: center;
}

.effGame
{
	color: hotpink;
}

.effPlayer
{
	color: cyan;
}

/*#dexGame, #pullGame 
{
	-webkit-text-stroke: 3px #FFF;
	paint-order: stroke fill;
}*/